* {
  font-family: "Courier New", "Verdana", "sans-serif";
}

body {
  background-color: black;
  color: white;
  
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  color: yellow;
}

.description {
  font-size: 25px;
  font-style: italic;
}

li, p {
  font-size: 18px;
}